* {
	padding: 0;
	margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
	width: 100%;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment:fixed;
}

.pt1 {
    height: 100%;
}

.c1 {
    color: white;
    padding-left: 40px;
    padding-bottom: 40px;
}

.c2 {
    color: white;
}

.c3 {
    background-color: #00bf72;
}

.c4 {
    color: black;
}

.c5 {
    color: rgb(238, 238, 238);
    padding: 5px;
    background-color: rgba(0, 77, 122, 0.3);
    border-radius: 1.5rem;
}

.btoes-div {
    padding-left: 40px;
    padding-bottom: 40px;
}

.btoes {
    margin-right: 15px;
    color: #00bf72;
}

.btoes:hover {
    color: black;
}

.clr {
    position: fixed;
    top: 20vh;
    right: 0;
    width: 40em;
}

.logo {
    margin-left: 4em;
}

.bg1 {
    background-color: rgba(0, 135, 147, .1);
}

.borda {
    border: 1px solid red;
}

/* ----------------- LOGIN & CADASTRO ----------------- */

.main-container {
    background-color: white;
    max-width: 400px;
    min-height: 47vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.t1 {
    color: black;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 5px;
}

.t1::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background-color: #00bf72;
    
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: #00bf72;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
    
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);

}

form .input-field {
    margin-bottom: 1.5rem;
}

.input-field {
    position: relative;
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background-color: #00bf72;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: 300;
    transition: all 0.3s ease;
    width: 100%;
    
}

form input[type="submit"]:hover {
    letter-spacing: 1px;
    background-color: #008793;

}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
.footer .socialfields {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .socialfields a {
    text-decoration: none;
    color: white;
}

.footer .socialfields a i {
    margin: 0 0.5rem;
    width: 20px;
}

.footer .socialfields.twitter {
    background: linear-gradient(to right, #56a7f2, #468aca);
    transition: all 0.3s ease;
}

.footer .socialfields.facebook {
    transition: all 0.3s ease;
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

.cad1 {
    font-size: 0.8rem;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.7);
}

.cad1:hover {
    text-decoration: none;
}

.footer .socialfields.facebook:hover {
    letter-spacing: 1px;
}

.footer .socialfields.twitter:hover {
    letter-spacing: 1px;
}

.navbar-toggler:focus {
    outline-style: none;
}

/* ----------------- Menu lateral ----------------- */

/* Menu Lateral */
  .sidebar {
    height: 100%; /* 100%  */
    width: 0; /* 0 de largura, é mudado com a função no js */
    position: fixed; /* Fica fixado */
    z-index: 1; /* Fica no topo */
    top: 0;
    left: 0;
    background-color: rgba(0, 77, 122, 0.9); 
    overflow-x: hidden; /* Desativa o scroll horizontal quando abre o menu */
    padding-top: 60px; /* 60px de padding top */
    transition: 0.5s; /* a transação quando é aberto o menu */
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #292929;
  }
  
  /* Botão de fechar o menu */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Botão pra abrir o menu */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 77, 122, 0.3);
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .openbtn:hover {
    background-color: #004d7a;
    border: none;
    outline-style: none;
    
  }

  .openbtn:focus {
    border:none;
    outline-style: none;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  #main {
    transition: margin-left .5s; /* classe css para que tenha uma transição de "empurrar o botão" */
    padding: 20px;
    width: 100%;
  }

/* ----------------- Menu CSS ----------------- */

.section1 {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100vh;
    border-radius: 30px;
    overflow-x: hidden;
}

.input-search {
    background-color: rgba(238, 238, 238, 0.9);
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.8);
}

#pesquisa1 {
    transition: all 1s ease;
    width: 0;
}

.input-search:focus {
    outline: none;
}

.search-icon {
    font-size: 1.4rem;
    border-radius: 50px;
    color: rgba(238, 238, 238, 0.9);
    margin-left: 5px;
}

.fazer-pedido {
    color: rgb(238, 238, 238);
    background-color: rgba(0, 77, 122, 0.3);
    border-radius: 1.5rem;
    font-size: 1rem;
    
}

.fazer-pedido:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.btn-pedido {
    text-decoration: none;
    color: rgba(238, 238, 238, 0.9);
    transition: all 0.3s ease;

}

.btn-pedido:hover {
    text-decoration: none;
    color: white;
}

.link-pedido {
    padding-bottom: 2px;
    padding-top: 25px;
}

#bg-menu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    z-index: 1;
}

.titulo2 {
    display: block;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
}

.linha {
    transition: all 0.3s ease;

}

.linha:hover {
    transition: all 0.3s ease;
    color: #00ff9d;

}

.icon-foto {
    font-size: 10rem;
    text-decoration: none;
    color: rgba(238, 238, 238, 0.9);
}

.icon-foto:hover {
    color: white;
    text-decoration: none;
}

.texto-foto {
    font-size: 1rem;
    margin-left: 20px;
}